/* ************************* */
/* HERO */
/* ************************* */

.hero-section {
  margin-top: 6.5rem;
  padding: 4.8rem;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

/* ************************* */
/* MY-INFO */
/* ************************* */

.my-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.2rem;
  padding: 4.2rem;
  font-size: 5.8rem;
  font-weight: 750;
  border-radius: 20px;
}

.greeting {
  color: #21076a;
}

.my-name {
  color: #21076a;
}

.my-name span {
  color: #700827;
}

/* ************************* */
/* AUTO-TYPING */
/* ************************* */

.dynamic {
  display: flex;
  gap: 0.6rem;

  font-size: 2.4rem;
  font-weight: 550;
}

.dynamic p:last-child {
  color: #700827;
}

.dynamic p span {
  color: #700827;
  font-weight: 750;
  transition: opacity 0.2s ease-in-out;
}

/* ************************* */
/* ABOUT ME BTN */
/* ************************* */

.about-me-link {
  text-decoration: none;
  padding: 1.2rem 2.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  border-radius: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 20rem;
  color: #fff;
  background-color: #0b0899;
  box-shadow: 0px 0px 6px 3px rgba(11, 8, 153, 0.45);
  transition: all 0.5s;
}

.about-me-link:hover,
.about-me-link:active {
  background-color: #08066d;
  box-shadow: 0px 0px 15px 5px rgba(8, 6, 109, 0.45);
}

.down-arrow-icon {
  height: 2.4rem;
  width: 2.4rem;
}

/* ************************* */
/* SOCIAL-ICON */
/* ************************* */

.social-icon {
  height: 3.4rem;
  width: 3.4rem;
  transition: all 0.3s;
}

.social-icon:hover {
  height: 3.8rem;
  width: 3.8rem;
}

.my-link-list {
  list-style: none;
  height: 5rem;
  width: 40rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}

.my-link:link,
.my-link:visited {
  text-decoration: none;
}

/* ************************* */
/* MEMOJI */
/* ************************* */

.memoji {
  display: flex;
  align-items: center;
  justify-content: center;
}

.memoji-item {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: inset 0px 0px 18px 4px rgba(25, 25, 25, 0.2);
  transition: all 0.5s;
}

.memoji-item:hover {
  box-shadow: -4px 1px 37px 4px rgba(190, 190, 190, 1);
  background-color: #bebebe;
}

.memoji-item img {
  display: block;
  height: 50.4rem;
  width: 50.4rem;
  transition: transform 0.5s;
}

.memoji-item img:hover {
  transform: scale(1.05);
}
