.hero-section {
  margin-top: 8rem;
  padding: 4.8rem;
  /* border: 1px solid black; */
}

.my-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.2rem;
  padding: 4.2rem;
  font-size: 3.8rem;
  font-weight: 500;
  /* border: 1px solid black; */
  font-family: "Ubuntu", sans-serif;
}

.greeting {
  color: #0077b5;
}

.my-name {
  color: #075e54;
}

.my-name span {
  color: #3b5998;
}

.dynamic {
  display: flex;
  gap: 0.6rem;

  font-size: 2.4rem;
}

.dynamic p span {
  /* display: inline-block; */
  color: #000;
  font-weight: 700;
  transition: opacity 0.2s ease-in-out;
}

.about-me-link:link,
.about-me-link:visited {
  text-decoration: none;
  padding: 1.2rem 2.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  border-radius: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 20rem;
  background-color: #3b5998;
  color: #fff;

  transition: all 0.5s;
}

.about-me-link:hover,
.about-me-link:active {
  box-shadow: 0px 0px 15px 5px rgba(59, 89, 152, 0.85);
}

.down-arrow-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.my-link-list {
  list-style: none;
  height: 5rem;
  width: 40rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.2rem;
}

.my-link:link,
.my-link:visited {
  text-decoration: none;
}

.fb-icon {
  fill: #3b5998;
}

.insta-icon {
  fill: #ee2a7b;
}

.linkden-icon {
  fill: #0077b5;
}

.git-icon {
  fill: #171515;
}
.tweet-icon {
  fill: #1da1f2;
}

.whats-icon {
  fill: #075e54;
}

.memoji {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.memoji-item {
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s;
}

.memoji-item img {
  display: block;
  height: 40.4rem;
  width: 40.4rem;
  background-color: antiquewhite;
  transition: all 0.5s;
}

.memoji-item:hover {
  box-shadow: -4px 1px 37px 4px rgba(214, 170, 26, 0.54);
}

.memoji-item img:hover {
  transform: scale(1.05);
}

/* .img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;
}

.img img {
  height: 40.4rem;
  width: 40.4rem;
  border-radius: 50%;
  background-color: antiquewhite;
  border: 1px solid black;
  object-fit: fill;
  padding: -1.2rem;
  box-shadow: inset 0px 0px 11px 0px rgba(0,0,0,0.75);
  transition: all 0.5s;
}

.img img:hover {
  box-shadow: -4px 1px 37px 4px rgba(214, 170, 26, 0.54);
  transform: scale(1.05);
} */
