/* ************************* */
/* HEADER */
/* ************************* */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2.4rem;
  height: 9.6rem;
}

/* ************************* */
/* NAVIGATION */
/* ************************* */

.main-nav-list{
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
