/* ************************* */
/* HEADER */
/* ************************* */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8.6rem;
  font-family: "Sen", sans-serif;
  padding: 0 5.8rem;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.myName {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.myName a {
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

/* ************************* */
/* FIXED-SCROLL*/
/* ************************* */

#navArea.is-sticky {
  height: 6.6rem;
}

#navArea.is-sticky .myName a {
  font-weight: 500;
}

#navArea.is-sticky .main-nav-list {
  gap: 3.8rem;
}

/* ************************* */
/* NAVIGATION */
/* ************************* */

.main-nav-list {
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Rubik", sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4.4rem;
  transition: all 0.3s ease-in-out;
}

.main-nav-link {
  padding: 0.6rem 0.8rem;
  border-radius: 0.04rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* ************************* */
/* ACTIVE */
/* ************************* */

.main-nav-list li .main-nav-link {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.main-nav-list li .main-nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.4rem;
  left: 0;
  bottom: -0.4rem;
  transition: width 0.3s ease-in-out;
}

.main-nav-list li .main-nav-link.active {
  letter-spacing: 0.05rem;
}

.main-nav-list li .main-nav-link.main-nav-link.active::before {
  width: 100%;
}

.hamburger-menu {
  display: none;
}
