/* ************************* */
/* 
  LARGE: 1025px(64.06rem) - 1235px(77.18rem) 
  (for Small Laptops) 
*/
/* ************************* */
@media (max-width: 77.18rem) {
  html {
    font-size: 50.5%;
  }
}

/* ************************* */
/* 
  MEDIUM: 768px(48rem) - 1024px(64rem) 
  (for Tablets) 
*/
/* ************************* */
@media (max-width: 64rem) {
}

/* ************************* */
/* 
  SMALL: 481px(30.06rem) - 767px(47.93rem) 
  (for Tablets) 
*/
/* ************************* */
@media (max-width: 47.93rem) {
  /* * {
    border: 1px solid lightcoral;
  } */

  .sec-container {
    width: 90rem;
  }

  /* ************************* */
  /* HERO-SECTION */
  /* ************************* */
  .hero-section {
    height: 120vh;
    grid-template-columns: 1fr;
    justify-items: stretch;
    padding-top: 0;
  }

  .my-info {
    font-size: 4.8rem;
    gap: 2.8rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dynamic {
    font-size: 2.8rem;
  }

  .social-icon {
    height: 4.2rem;
    width: 4.2rem;
  }

  .my-link-list {
    gap: 3.4rem;
  }

  .memoji-item img {
    height: 52.4rem;
    width: 52.4rem;
  }
  /* ------------------- */
  /* MOBILE-NAV */
  /* *************** */
  /* HAMBURGER-MENU */
  /* *************** */
  /* ROOT */
  /* *::after,
  *::before {
    box-sizing: border-box;
  } */

  :root {
    --bar-width: 4.8rem;
    --bar-height: 0.6rem;
    --hamburger-gap: 0.6rem;
    --foreground: #333;
    --background: #fff;
    --hamburger-margin: 1.8rem;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  /* MENU-OPEN */
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }

  .hamburger-menu input,
  .hamburger-menu::before,
  .hamburger-menu::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9.9rem;
    transform-origin: left center;
    transition: all var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  /* MENU-CLOSE */
  .checked input {
    opacity: 0;
    width: 0;
  }

  .checked.hamburger-menu::before {
    transform: rotate(45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .checked.hamburger-menu::after {
    transform: rotate(-45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  /* ------------------- */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }

  .nav-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    font-size: 3.2rem;
  }

  .main-nav-list li:hover .main-nav-link.main-nav-link::before {
    width: 100%;
  }

  #navArea.is-sticky .main-nav-list {
    gap: 4.4rem;
  }

  #navArea.is-sticky .main-nav-list li a:hover {
    color: #000;
  }
  /* ------------------- */

  /* ************************* */
  /* ABOUT_ME-SECTION */
  /* ************************* */
  .content-gap{
    gap: 0;
  }

  .aboutMeSection{
    height: 105vh;
  }

  .row{
    grid-template-columns: 1fr;
    gap: 4.2rem;
  }

  .memoji-working{
    height: 35rem;
    width: 35rem;
  }

  .content{
    width: 60rem;
  }

  .heading-tertiary{
    font-size: 4.2rem;
  }

  .content span{
    font-size: 2.2rem;
  }

  .content .desc{
    font-size: 1.6rem;
  }

  .res-btn {
    bottom: -6rem;
  }

  /* ************************* */
  /* SKILLS-SECTION */
  /* ************************* */
  .skills-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }

  /* ************************* */
  /* MY_EDUCATION-SECTION */
  /* ************************* */
  .pro-container{
    grid-template-columns: 0.8fr;
    justify-items: right;
  }

  .pro-box{
    height: 35rem;
    width: 55rem;
  }

  .box-content .tag{
    height: 5.5rem;
  }

  .pro-box:hover .box-content {
    top: 35%;
  }


  /* ************************* */
  /* FOOTER-SECTION */
  /* ************************* */
  .foot-container {
    width: 90rem;
  }
}

/* HEADER-SECTION */

/* HERO-SECTION */

/* ABOUT_ME-SECTION */

/* SKILLS-SECTION */

/* MY_EDUCATION-SECTION */

/* PROJECTS-SECTION */

/* CONTACT_ME-SECTION */

/* FOOTER-SECTION */
