/* ************************* */
/* 
  LARGE: 1025px(64.06rem) - 1235px(77.18rem) 
  (for Small Laptops) 
*/
/* **--**--**--**--**--**--**--** */
@media (max-width: 77.18rem) {
  html {
    font-size: 50.5%;
  }
}

/* **--**--**--**--**--**--**--** */

/* ************************* */
/* 
  MEDIUM: 768px(48rem) - 1024px(64rem) 
  (for Tablets) 
*/
/* **--**--**--**--**--**--**--** */
@media (max-width: 64rem) {

  /* .sec-container, */
  /* .header, */
  /* .hero-section, */
  /* .aboutMeSection, */
  /* .skillsSection, */
  /* .eduSection, */
  /* .proSection, */
  /* .contactSection, */
  /* .footer {
    display: none;
  } */

  .sec-container {
    width: 100%;
  }

  /* ************************* */
  /* HEADER-SECTION */
  /* ************************* */
  .main-nav-list {
    gap: 1.4rem;
  }

  #navArea.is-sticky .main-nav-list {
    gap: 0.8rem;
  }

  /* ************************* */
  /* HERO-SECTION */
  /* ************************* */
  .my-info {
    font-size: 4.2rem;
  }

  .memoji img {
    height: 35.4rem;
    width: 35.4rem;
  }

  /* ************************* */
  /* ABOUT_ME-SECTION */
  /* ************************* */
  .aboutMeSection {
    height: 65vh;
  }

  .row {
    padding: 0 5%;
  }

  .memoji-img {
    padding: 0;
  }

  .memoji-working {
    height: 34rem;
    width: 34rem;
  }

  .heading-tertiary {
    font-size: 3.2rem;
  }

  .content span {
    font-size: 1.6rem;
  }

  .res-btn {
    bottom: -2.6rem;
  }

  /* ************************* */
  /* PROJECTS-SECTION */
  /* ************************* */
  .pro-container {
    padding: 0 4%;
  }

  .pro-box {
    height: 25rem;
  }

  .box-content .tag {
    height: 3.8rem;
  }

  /* ************************* */
  /* CONTACT-SECTION */
  /* ************************* */
  .contact-container {
    padding: 2.6rem 5%;
    max-width: 85rem;
  }

  .contact-content {
    padding: 0rem 0rem;
  }

  .contact-container .contact-img {
    margin: 0;
  }

  .contact-img img {
    width: 30.4rem;
    height: 30.4rem;
  }

  .contact-content form {
    width: 50%;
  }

  .button-area button {
    margin-top: 2rem;
  }

  /* ************************* */
  /* FOOTER-SECTION */
  /* ************************* */
  .foot-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: baseline;
  }

  .foot-nav-link{
    width: 100%;
  }

  .foot-box h3{
    font-size: 3.2rem;
  }

  .foot-container .foot-box:last-child {
    margin-left: 2rem;
  }
}

/* **--**--**--**--**--**--**--** */

/* ************************* */
/* 
  SMALL: 494px(30.875rem) - 767px(47.93rem) 
  (for Tablets) 
*/
/* **--**--**--**--**--**--**--** */
@media (max-width: 47.93rem) {
  /* * {
    border: 1px solid lightcoral;
  } */

  .sec-container {
    width: 90rem;
  }

  /* ************************* */
  /* HERO-SECTION */
  /* ************************* */
  .hero-section {
    height: 120vh;
    grid-template-columns: 1fr;
    justify-items: stretch;
    padding-top: 0;
  }

  .my-info {
    font-size: 4.8rem;
    gap: 2.8rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dynamic {
    font-size: 2.8rem;
  }

  .social-icon {
    height: 4.2rem;
    width: 4.2rem;
  }

  .my-link-list {
    gap: 3.4rem;
  }

  .memoji-item img {
    height: 52.4rem;
    width: 52.4rem;
  }

  /* ------------------- */
  /* MOBILE-NAV */
  /* *************** */
  /* HAMBURGER-MENU */
  /* *************** */
  /* ROOT */
  /* *::after,
  *::before {
    box-sizing: border-box;
  } */

  :root {
    --bar-width: 3.2rem;
    --bar-height: 0.4rem;
    --hamburger-gap: 0.6rem;
    --foreground: #333;
    --background: #fff;
    --hamburger-pos-top: 1.8rem;
    --hamburger-pos-right: 3rem;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  /* MENU-OPEN */
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-pos-top);
    right: var(--hamburger-pos-right);
    z-index: 2;
    cursor: pointer;
  }

  .hamburger-menu input,
  .hamburger-menu::before,
  .hamburger-menu::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9.9rem;
    transform-origin: left center;
    transition: all var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  /* MENU-CLOSE */
  .checked input {
    opacity: 0;
    width: 0;
  }

  .checked.hamburger-menu::before {
    transform: rotate(45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .checked.hamburger-menu::after {
    transform: rotate(-45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  /* ------------------- */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }

  .nav-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    font-size: 3.2rem;
  }

  .main-nav-list li:hover .main-nav-link.main-nav-link::before {
    width: 100%;
  }

  #navArea.is-sticky .main-nav-list {
    gap: 4.4rem;
  }

  #navArea.is-sticky .main-nav-list li a:hover {
    color: #000;
  }

  /* ------------------- */

  /* ************************* */
  /* ABOUT_ME-SECTION */
  /* ************************* */
  .content-gap {
    gap: 0;
  }

  .aboutMeSection {
    height: 105vh;
  }

  .row {
    grid-template-columns: 1fr;
    gap: 4.2rem;
  }

  .memoji-working {
    height: 35rem;
    width: 35rem;
  }

  .content {
    width: 60rem;
  }

  .heading-tertiary {
    font-size: 4.2rem;
  }

  .content span {
    font-size: 2.2rem;
  }

  .content .desc {
    font-size: 1.6rem;
  }

  .res-btn {
    bottom: -6rem;
  }

  /* ************************* */
  /* SKILLS-SECTION */
  /* ************************* */
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }

  /* ************************* */
  /* PROJECTS-SECTION */
  /* ************************* */
  .pro-container {
    grid-template-columns: 0.8fr;
    justify-items: right;
  }

  .pro-box {
    height: 35rem;
    width: 55rem;
  }

  .box-content .tag {
    height: 5.5rem;
  }

  .pro-box:hover .box-content {
    top: 35%;
  }


  /* ************************* */
  /* FOOTER-SECTION */
  /* ************************* */
  .foot-container {
    width: 90rem;
  }

  .foot-container .foot-box {
    flex: 1 1 14rem;
  }

  .foot-nav-link {
    width: 50%;
  }

  .foot-nav-link:hover {
    font-size: 1.4rem;
  }

  .foot-cont-link:hover {
    font-size: 1.4rem;
  }
}

/* **--**--**--**--**--**--**--** */

/* ************************* */
/* 
  EXTRA-SMALL: 320px(20rem) - 492px(30.75rem) 
  (for Mobiles) 
*/
/* **--**--**--**--**--**--**--** */
@media (max-width: 30.75rem) {
  .sec-container {
    width: 100%;
  }

  .heading-secondary {
    font-size: 4rem;
  }

  /* ************************* */
  /* HERO-SECTION */
  /* ************************* */
  .hero-section {
    padding: 3.6rem 9%;
    max-height: 95vh;

    display: flex;
    flex-direction: column;
    gap: 10.2rem;
  }

  .my-info {
    padding: 2.6rem 5%;
    font-size: 3.4rem;
    gap: 1.8rem;
  }

  .dynamic {
    font-size: 2rem;
  }

  .about-me-link {
    width: 50%;
    font-size: 1.8rem;
  }

  .down-arrow-icon {
    height: 1.8rem;
    width: 1.8rem;
  }

  .social-icon {
    height: 3.2rem;
    width: 3.2rem;
  }

  .my-link-list {
    width: 100%;
    gap: 0.4rem;
  }

  .memoji-item img {
    height: 30rem;
    width: 30rem;
  }

  /* ************************* */
  /* ABOUT_ME-SECTION */
  /* ************************* */
  .aboutMeSection {
    height: 110vh;
  }

  .content {
    width: 100%;
    padding: 0 9%;
  }

  .content .desc {
    letter-spacing: 0.6px;
  }

  .box-container {
    gap: 0.6rem;
  }

  .contact-link span {
    font-size: 1.6rem;
  }

  /* ************************* */
  /* MY_EDUCATION-SECTION */
  /* ************************* */
  .quote {
    padding: 0 9%;
  }

  /* ************************* */
  /* PROJECTS-SECTION */
  /* ************************* */
  .pro-container {
    align-self: center;
  }

  .pro-box {
    height: 25rem;
    width: 40rem;
  }

  .box-content .tag {
    height: 4.5rem;
  }

  .pro-box:hover .box-content {
    top: 20%;
  }

  /* ************************* */
  /* CONTACT-SECTION */
  /* ************************* */
  .contact-container {
    padding: 3.6rem 5%;
    max-width: 40rem;
    width: 100%;
  }

  .contact-content {
    flex-direction: column;
    padding: 0;
  }

  .contact-content .contact-img {
    max-width: 100%;
    margin: 0;
  }

  .contact-img img {
    width: 20.4rem;
    height: 20.4rem;
  }

  .contact-content form {
    width: 100%;
  }

  .button-area button {
    margin-top: 2rem;
  }

  /* ************************* */
  /* FOOTER-SECTION */
  /* ************************* */
  .foot-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: baseline;
  }

  .foot-nav-link {
    width: 100%;
  }
}

/* **--**--**--**--**--**--**--** */